* {
    margin: 0;
    padding: 0;

}




body {
    margin: 25px;
font-style: Verdana, sans-serif;
    background-color: teal;

    background-image: linear-gradient(rgba(44, 42, 255, 0.175), rgba(255, 255, 0, 0.069)), url(./assets/chuck-norris-kick-try-me.gif);
    /* i love this but its darklinear-gradient(rgb(9, 9, 43), rgba(255, 255, 0, 0.5)), url(./assets/cnl.jpeg); */
    /* default scroll */
    background-attachment: scroll;
    /* not sure i need this below */
    /* min-height: 400px; */
}


main {
    transition: all 3s ease-in-out;
    align-self: auto;
    margin: 12px 300px;
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    padding: 25px 52px;
    height: auto;
    background-color: rgba(53, 3, 29, 0.975);

}

span {
    font-style: Georgia, serif;
    margin: 17px auto;
    color: rgb(239, 222, 224);
    text-align: center;
    overflow-wrap: break-word;
    text-shadow: 4px 6px 10px #a04ef2;
}

div {
    border: 3px inset rgb(234, 214, 216);
    display: inherit;
    margin: 20px auto;
    padding: 40px 46px 99px 50px;
    width: 600px;
    height: 220px;
    text-align: center;
    text-shadow: 4px 6px 10px #a04ef2;
    overflow-wrap: break-word;
}

.personal-links {
    display: inherit;
    border: 2px inset rgb(2, 60, 60);
    padding: 28px 3px 33px 55px;
    height: 70px;
    align-items: center;
}

a:hover {
    background-color: rgb(52, 228, 193);
    width: 300px;
}

fieldset {
    display: flexbox;
    padding:
     6px 12px 6px 12px;
    border: 11px inset rgba(43, 32, 38, 0.834);
}

a {
    display: block;
    color: rgb(223, 223, 193);
    text-indent: 22px;
    font-size: x-large;
    text-align: justify;
    overflow-wrap: break-word;
}

#parental-advisory {
    border: 2px inset rgba(91, 40, 72, 0.834);
}

form {
    height: 22px;
    width: 20px;
}

a[href^='mailto']::before {
    content: '📧 ';
}

a[href^='tel']::before {
    content: '📞 ';
}

footer {
    background-color: white;
}

@media (max-width: 1079px){
    main {
        width: 100vh;
        height: 100vh;
    }
}