* {
    margin: 0;
    padding: 0;

}

/* html {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
      'header'
      'main'
      'footer';
} */


body {
    margin: 25px;

    background-color: teal;

    background-image: linear-gradient(rgba(52, 52, 255, 0.5), rgba(255, 255, 0, 0.5)), url(./assets/cnl.jpeg);
    /* i love this but its darklinear-gradient(rgb(9, 9, 43), rgba(255, 255, 0, 0.5)), url(./assets/cnl.jpeg); */
    /* default scroll */
    background-attachment: scroll;
    /* not sure i need this below */
    /* min-height: 400px; */
}


main {
    transition: all 3s ease-in-out;
    align-self: auto;
    margin: 12px 300px;
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    padding: 25px 52px;
    height:auto;
}

div {

    display: inherit;
    margin: 20px auto;
    padding: 222px 3px 9px 55px;
    width: 600px;
    height: 220px;
    overflow-wrap: break-word;
    border: 2px solid rgb(255, 84, 104);
}

a:hover {
    background-color: rgb(52, 228, 193);
}

fieldset {
    display: flexbox;
    padding: 16px 22px 6px 12px;
}

a {
    display: block;
    text-indent: 22px;
    text-align: justify;
    overflow-wrap: break-word;
}

#parental-advisory {
    margin: 12px 4px 20px 9px;
}

form {
    height: 22px;
    width: 20px;
}

a[href^='mailto']::before {
    content: '📧 ';
}

a[href^='tel']::before {
    content: '📞 ';
}

@media (max-width: 1079px) {
    main {
        width: 100%;
    }
}

/* @media (max-width: 768px) {
    header {
        grid-template-columns: repeat(1, 1fr);
    }

    main {
        grid-template-columns: repeat(1, 1fr);
        row-gap: 50px;
    }


} */